# --- Python ---
__pycache__/
*.py[cod]
*$py.class

# --- Environnements virtuels ---
venv/
.env/
.venv/

# --- Configuration / secrets ---
*.env
.env.*

# --- Tests & coverage ---
.coverage
htmlcov/
.cache/
.pytest_cache/
*.log
coverage.xml

# --- IDE & éditeurs ---
.vscode/
.idea/
*.swp
*.swo

# --- MacOS / Windows ---
.DS_Store
Thumbs.db

# --- Artifacts GitHub Actions ---
*.zip
*.tar.gz
